@import "syntax";
@import "css3";

$page-width: 990px;
$left-width: 710px;
$side-bar-width: $page-width - $left-width - 25px;

body {
    background-image: url(/imgs/background.png);
    padding: 0;
    margin: 0;
    font: 400 14px/1.5 'Lucida Grande', "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}
a { outline: 0; }
p { text-align: justify; }
ul { padding-left: 1em; }
p code, li > code {
    background-color: #DDD;
    padding: 0.4em .2em 0;
    font-size: 90%;
    color: #444;
}
/* #page-wraper { width: $page-width; margin: 0 auto; } */
#main {
    width: $page-width;
    margin: 0 auto 50px auto;
}
#content { width: $left-width; float: left; padding: 3px; }
#posts > ol { list-style: none; padding: 0; }
#posts .post {
    padding-bottom: 2em;
    border-bottom: 1px #bbb solid;
    margin-bottom: 2em;
}
h2 {
    margin: 0.4em 0;
    padding: 0.2em 0.1em;
    a {
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }
}
.copyright { float: right; margin-right: 2em; font-size: 80%;}
.date {
    font-size: small;
    margin: 1em 2em 0 0;
    float:right;
}
#side-bar {
    float: right;
    font-size: 90%;
    width: $side-bar-width;
    li { padding: 2px 0 3px 0; }
    a {
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }
}

#head {
    background: #8E8E8E;
    .content {
        width: $page-width;
        margin: 0 auto;
        padding: 1em 0;
    }
    padding: 0;
    a {
        text-decoration: none;
        color: #FFF4C1;
        text-shadow: 1px 1px 1px #2D4F80;
    }
    p.subtitle { float: right; margin: -2em 3em 0 0;}
}

#footer {
    .content {
        margin: 0 auto;
        width: $page-width;
    }
    border-top: #CCC solid 1px;
    ul {
        padding: 0;
        li {
            &:first-child { margin-left: 0; }
            margin: 0 8px;
            display: inline;
            a {
                text-shadow: 1px 1px white;
                color: #638FB2;
                padding: 4px 0;
                text-decoration: none;
            }
        }
    }
}

img {
    max-width: 710px;
    margin: 20px auto;
    box-shadow: 0 0 10px #666;
}

.highlight pre, code {
    font-family: Consolas, Inconsolata, monospace;
    font-size: 13px;
}
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
