@import "syntax";
@import "css3";

$page-width: 990px;
$left-width: 715px;
$side-bar-width: $page-width - $left-width - 15px;

body {
    background-image: url("/imgs/background.png");
    font: 400 14px/1.5 "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}
p {
    text-align: justify;
}
ul {
    padding-left: 1em;
}
#page-wraper { width: $page-width; margin: 0 auto; }
#main {
    width: $page-width;
    margin: 0 auto 50px 0;
}
#content { width: $left-width; float: left; padding: 3px; }
#posts > ol { list-style: none; padding: 0; }
#posts .post {
    padding-bottom: 2em;
    border-bottom: 1px #bbb solid;
    margin-bottom: 2em;
}
h2 a {
    text-decoration: none;
}
.copyright { float: right; margin-right: 2em; font-size: 80%;}
.date {
    font-size: small;
    margin: 1em 2em 0 0;
    float:right;
}
#side-bar {
    float: right;
    font-size: 90%;
    width: $side-bar-width;
    li { padding: 2px 0 3px 0; }
    a {
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }
}

.highlight pre { font-family: Consolas, Inconsolata, monospace; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
#head {
    padding: 1em 0;
    h1 {
        color: #647C8D;
        text-shadow: 1px 1px 1px #AAA;
        a { text-decoration: none; }
    }
    p.subtitle { float: right; margin: -2em 3em 0 0;}
}

#footer {
    border-top: #CCC solid 1px;
    ul {
        padding: 0;
        li {
            &:first-child { margin-left: 0; }
            margin: 0 8px;
            display: inline;
            a {
                text-shadow: 1px 1px white;
                color: #638FB2;
                padding: 4px 0;
                text-decoration: none;
            }
        }
    }
}

